  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
 
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  main img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 120px;
    padding: 20px;
  }
  
  section {
    background-color: #f2f2f2;
    padding: 10px;
  }
 

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }